body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.container {
  background: linear-gradient(90deg, #128905, #0b2d92);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
}

.logo {
  width: 200px;
  border-radius: 20%;
  object-fit: contain;
}

h1 {
  color: #0b2d92;
  margin-bottom: 20px;
}

p {
  color: #128905;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

button {
  padding: 10px;
  background-color: #1147eb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0b2d92;
  box-shadow: 0 2px 7px black;
}
